body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 100vh;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}

.card {
  background-color: #fff;
  width: 25rem;
  min-height: 50vh;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.card-header {
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
}

.list-wrapper {
  max-height: 200px;
  overflow-y: auto;
}

.list-item {
  border-bottom: 1px solid #dbdbdb;
  height: 2rem;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.delete {
  float: right;
}

.button, .input {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin: 5px;
  margin-top: 15px;
  font-size: 16px;
}

.button {
  height: 2.3rem;
  width: 20%;
}

.input {
  height: 2rem;
  width: 73%;
  padding-left: 5px;
}

.icon::before {
  content: "✔";
  color: green;
  margin-right: 5px;
}

.text {
  display: inline;
}

.input {
  height: 2rem;
  width: 73%;
  padding-left: 5px;
}

/* input[type='checkbox'] {
  height: 15px;
  width: 15px;
  vertical-align: middle;
  margin-right: 10px;
} */

